In [10]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# Define datapaths
module_path = os.path.abspath('')
data_path = os.path.join(module_path, 'data')
file_path = os.path.join(data_path, 'products.gz')

In [13]:
dataset = pd.read_parquet(file_path, engine='pyarrow')

In [14]:
dataset.describe()

         product_id      vendor_id    order_count
count  300774.00000  300774.000000  300774.000000
mean   150386.50000    2890.920528       9.215780
std     86826.11927    2012.265241      23.479511
min         0.00000       0.000000       1.000000
25%     75193.25000    1167.000000       1.000000
50%    150386.50000    2590.000000       3.000000
75%    225579.75000    4358.000000       8.000000
max    300773.00000    8172.000000    2017.000000

In [22]:
# unique products
print("Number of Vendors: {}".format(dataset.vendor_id.nunique()))
print("Number of Products: {}".format(dataset.product_id.nunique()))

Number of Vendors: 8173
Number of Products: 300774

In [16]:
dataset.head(10)

,product_id,vendor_id,vendor_geohash,product_name,product_description,order_count
0,0,0,w21zv3v,"Double Boiled Soup, Rice & 3 Dishes",Vegetarian,38
1,1,1,w21ztnr,Goreng Pisang,5 Pcs,26
2,2,2,w21ztje,Chicken Ham Sub,Lean and tender sliced chicken ham with your c...,31
3,3,3,w21zunx,Instant Noodles 快熟面,Per pc,88
4,4,4,w21zety,Mini Yolky Custard Pau,3 Pc,62
5,5,5,w21zt6m,Braised Egg,None,29
6,6,6,w21zegx,Signature Iced Lemon Tea,None,24
7,7,7,w21z7q9,Traditional Kaya Multigrain Toast,Freshly toasted multigrain bread with a spread...,28
8,8,8,w21ze2z,077. Rice,None,43
9,9,7,w21z7q9,Kopi C,Large. An aromatic cup of freshly brewed Nanya...,25